<!DOCTYPE html>
<html>

<head>
  <title>Currency Converter</title>
</head>

<body>
  <div id="app">
    <label>From</label>
    <select v-model="from" name="" id="">
      <option :value="currency.id" v-for="currency in formattedCurrencies">{{ currency.currencyName }}</option>
    </select>

    <label>To</label>
    <select v-model="to" name="" id="">
      <option :value="currency.id" v-for="currency in formattedCurrencies">{{ currency.currencyName }}</option>
    </select>

    <br/>
    <input v-model="amount" type="text" placeholder="Amount">

    <br/>
    <button :disabled="disabled" @click="convertCurrency()">
      {{ loading ? 'Converting ...' : 'Convert' }}
    </button>

    <h1>{{ calculateResult }}</h1>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
  <script src="app.js"></script>
</body>

</html>